body {
  font-family: 'Raleway', serif;
}

h1 {
  display: block;
  color: #0C4C66;
  text-align: center;
}

a {
  text-decoration:none;
  color: white;
}

a:hover {
  color: #0E5C7F;
}

#current_quiz {
  display: block;
  margin: auto;
  color: white;
  text-align: center;
  border-color: #1586B2;
  border: 2px solid #1586B2;
  border-radius: 10px;
  width: 75%;
  padding: 20px;
  height: 20px;
  background-color: #1586B2;
}

#current_quiz:hover {
  background-color: #B2E9FF;
  color: #0E5C7F;
  transition:0.5s;
  border-radius: 10px;
  border: 2px solid #1BB8FF;
  border-color: #0E5C7F;
}

.answer {
  display: block;
  margin: auto;
  margin-top: 15px;
  color: white;
  text-align: center;
  border-color: #1586B2;
  border: 2px solid #1586B2;
  border-radius: 10px;
  width: 75%;
  padding: 20px;
  height: 20px;
  background-color: #1586B2;
}

.answer:hover {
  background-color: #B2E9FF;
  color: #0E5C7F;
  transition:0.5s;
  border-radius: 10px;
  border: 2px solid #1BB8FF;
  border-color: #0E5C7F;
}